/.target
/bin
/target/streams
/target/resolution-cache
/target/.history 
/project/project/target/config-classes
/project/target/config-classes
/project/target/resolution-cache
/project/target/streams
/.cache
/.classpath
/*.swp
/logs

